

.current-temperature-value {
    position: relative;
    top: 5px;
    right: 30px;
    font-size: 70px;
    font-weight: bold;
  }
  
  .current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -25px;
    right: 30px;
  }
  a{
    text-decoration: none;
    color:  rgb(246, 82, 130);
  }