.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .weather-forecast-date {
    text-align: center;
    color: #757575;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  
  .weather-forecast-icon {
    font-size: 38px;
    text-align: center;
  }
  .weather-forecast-temperatures {
    text-align: center;
    color: rgb(246, 82, 130);
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .weather-forecast-temperature {
    padding: 0 10px;
  }
  