.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  max-width: 650px;

  padding-top: 30px;
  margin: 70px auto;

  box-shadow: rgba(19, 20, 45, 0.08) 0px 8px 8px 0;
}
body {
  background-image: url("./back.jpeg");
  background-repeat: "no-repeat";
  background-size: "cover";

  font-family: "Space Grotesk", sans-serif;
}