.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  max-width: 650px;

  padding-top: 30px;
  margin: 70px auto;

  box-shadow: rgba(19, 20, 45, 0.08) 0px 8px 8px 0;
}
body { 
  

  font-family: "Space Grotesk", sans-serif;
}
